*{
    margin: 0 auto;
    max-width: 1000px;
}

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
    line-height: 1.6;
    color: #222C2A;
}
.intro{
    max-width:1128px;
    background-color: #F3EED9;
    min-height: 330px;
}

.intro_text{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.intro_title{
    font-family:'Playfair Display', serif;
}

/*font-family: 'Playfair Display', serif;
*/
.section-two{
    margin: 200px
}

.section_title{
    font-family: 'Roboto', serif;
    color: #824936;
}

.first, p{
    display: table-cell;
    padding: 20px;
}

.section-three{
    background-color: #222C2A;
    color: whitesmoke;
}

.secondh2{
    font-family: 'Playfair Display', serif;
    color:#F3EED9;
}

.section-four{
    background-color: #824936;
    color:whitesmoke;
}

.thirdh2{
    color:#F3EED9;
    font-family: 'Playfair Display', serif;

}