*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
    line-height: 1.6;
    color: #222C2A;
}

section{
    padding: 4em 0;
}

.container1{
    width: 85%;
    margin: 0 auto;
    max-width: 1128px;
}

.container{
    width: 85%;
    margin: 0 auto;
    max-width: 1128px;
    display: flex;
}

h1, h2{
    margin-top: 0;
    font-weight: 900;
    font-family: "Playfair Display", sans-serif;
    line-height: 1.1;
}

img{
    max-width: 100%; /*Will shrink them if needed but not overflow*/
}

.img_cen{
    display: inline-block;
    padding-right: 40px;
}

.intro{
    background: #f3EED9;
    text-align: center;
    color: #824936;
    min-height: 660px;
    display: flex;
    align-items: center;
}

.intro_text{
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 10px;
    color: #222222;
    margin: 0 0 .25em;
}

.intro_title{
    font-size: 3rem;
}

.section_title{
    font-size: 2.25rem;
    color: #f3EED9;
}

.section-title--dark{
    color: #824936
}

.section_three{
    background-color: #222C2A;
    color: #FFF;
}

.section_four{
    background-color: #824936;
    color: #FFF;
}

@media (min-width:800px){
    .row{
        display: flex;
    }
    .col{
        width: 100%;
    }
    .col + .col{
        margin-left: 5em;
    }

    .intro_title{
        font-size: 3.75rem;
    }
}