*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 1.3rem;
}

.container{
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.dark-blue{
    display: flex;
    padding: 100px 0;
    width: 1440px;
    height: 670px;
    left: 0px;
    top: 0px;
    background-color: #23424A;
    color: #FFFFFF;
}

.dark-blue p{
    margin-bottom: 3em;
}

.her__text{
    width:50%;
}

.h1{
    position: absolute;
    width:70%;
    height: 365px;
    left: 122px;
    top: 148px;
    font-size: 3rem;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;

    color: #FFFFFF;
}

p{
    position: absolute;
    width:70%;
    height: 365px;
    left: 122px;
    top: 300px;

    color: #FFFFFF;
    margin-bottom: 3em;

}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #23424A;
    font-weight: 900;
    background-color: mediumturquoise;
    padding: .75em, 2em;
    border-radius: 100px;
    position: absolute;
    top: 480px;
    left: 122px;


    /*left: 17%;
    right: 17%;
    top: 25%;
    bottom: 24%;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 150%;
    letter-spacing: .05em;
    text-transform: uppercase;*/
}

.button:hover,
.button:focus{
    opacity: .75;
}